<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <% @pirates.each do |pirate| %>
  <h3><%= pirate.name %> </h3>
  <% end %>


  </body>
</html>
